body {
    background-color:burlywood;
}

main {
    display: flex;
}

header {

    nav {

    }
    
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    li {
        padding: 2rem;
        h1 {
            padding: 0;
            margin: 0;
        }
    }
}
